@import '../settings/colors';

.footer {
  position: relative;
  top: -35px;
}

.footer-txt {
  color: $primeFont;
  font-size: 0.825em;
  left: 45.3%;
  opacity: 0.5;
  position: absolute;
}

.icons {
  left: 90%;
  position: absolute;

  & img {
    margin:0 10px 0 10px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}