

@import '../settings/colors';
@import '../settings/fonts';

@mixin navStyle {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  & li a{
    color: $grey;
    margin-right: 2.563em;
    text-decoration: none;
  }
}

.nav{
  float: right;
  margin-right: 6.563em;
  margin-top: 1.563em;
  width: 50vw;
}

.top-nav{
  @include navStyle;
  margin-right: 1.063em;
  & li a{
    font-size: 0.875em;

  }
}

.bottom-nav{
  @include navStyle;
}

